<div class="container-fluid">
  <div class="col-sm-1 col-sm-offset-1 text-justified">
    <h1>Login:</h1>
    <%= form_tag '/login' do %>

    <div>
      <% if @errors %>
        <ul>
          <% @errors.each do |error|%>
            <li><%= error %></li>
          <% end %>
        </ul>
      <%end%>
    </div>
      <p>Email: <%= text_field_tag :email , nil, size: 30%></p>
      <p>Password: <%= password_field_tag :password, nil, size: 30%></p>
      <%= submit_tag "Submit" %>
      <% end %>
  </div>
</div>
