<div><%= image_tag @movie.poster %> </div>

Title: <h1> <%= @movie.title  %> </h1>
Genre : <p> <%= @movie.genre  %> </p>
Year: <p> <%= @movie.year  %> </p>
Synopsis <p> <%= @movie.synopsis  %> </p>

<h2> Trusted Reviews </h2>
<% @movie.reviews.each do |review| %>
<p>
Title: <%= review.title  %><br>
Review: <%= review.body  %> <br>
Rating: <%= review.rating  %> <br>
Vote Count: <%= review.vote_count %> <br>
</p>
<% end %>




