<div class="container-fluid padding-20-top max-w-1000">
  <div class="row">
    <div class="col-sm-6 text-centered"><%= image_tag(@movie.poster, class: "img-responsive") %></div>
    <br>
    <div class="col-sm-6 text-centered">
      <h1><%= @movie.title  %> </h1>
      <p>Genre :  <%= @movie.genre  %> </p>
      <p>Year:  <%= @movie.year  %> </p>
      <p>Synopsis  <%= @movie.synopsis  %> </p>
    </div>
  </div>
  <div>
    <div class="trustedreviews">
      <h2> Trusted Reviews </h2>
      <% if @movie.reviews.length > 0 %>
        <% @movie.reviews.each do |review| %>
        <p>
          Title: <%= review.title  %><br>
          Review: <%= review.body  %> <br>
          Rating: <%= review.rating  %> <br>
        </p>
        <% end %>
      <% else %>
        <p>No reviews yet...</p>
      <% end %>
    </div>
  </div>

<br>
<br>
  <div class="leavereview">
    <% if current_user %>
      <br>
      <h3>Leave A Review: </h3>

        <%= form_for :review, url: '/reviews' do |f| %>
          <p>Title: <%= f.text_field :title, size: 30 %></p>
          <p>Review: <%= f.text_area :body, :class => "span15" %></p>
          <p>Rating: <%= f.select :rating, ['1', '2','3','4','5']%> </p>
          <%= f.hidden_field :movie_id, :value => @movie.id %>
          <%= f.submit "Submit" %>
        <% end %>

      <% end %>
  </div>
</div>
