<div class="container-fluid">
  <div class="col-sm-1 col-sm-offset-1 text-justifed">
  <h1>Signup:</h1>
  <%= form_for :user, url: '/users' do |f| %>

    <p>Name: <%= f.text_field :name %><p>
    <p>Email: <%= f.text_field :email %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
    <%= f.submit "Submit" %>

  <% end %>
  </div>
</div>
